HELP.md
#The slash (/) and dot (.) symbols have different meanings in the .gitignore file syntax.
# personal configs:
#!!! By default, patterns match files in any directory
#means nothing in front of application.yaml:
application.yaml
deploy-remote.sh
#remove git history:
#git rm --cached ./src/main/resources/application.yaml
#git filter-branch --index-filter "git rm -rf --cached --ignore-unmatch *.log" HEAD


target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
#logs
*.log

*.csv



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
